
  .logo{
        position: absolute;
        width: 20%;
        height: 100%;
        left: 0%;
        & img {
            height: 100%;
            margin: auto;
        }
    }
   .admin-info{
        position: absolute;
        display: inline-flex;
        
        height: 100%;
        right: 2%;
        & img {
            height: 50%;
            padding: 10px;
            margin: auto;
        }
        & .actionDiv{
                height: auto;
                width: auto;
                margin-top: 38%;
                right: 10px;
                display: table;
                position: absolute;
                background-color: white;
                z-index: 1;
                border: 1px solid black;
                & a{
                    padding: 5px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    text-decoration: none;
                    color: red;
                }
        }
        
    }